# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo

# NuGet
packages/
*.nupkg

# WPF and Visual Studio
*.user
*.vs
*.csproj.user
*.suo
*.build
TestResults/
[Tt]est[Rr]esult*
*.cache
*.orig
*.log
*.sdf
*.opensdf
*.pfx
*.publishsettings
*.nupkg
*.iws